:root {
  --timing: 700ms;
}

html {
  color-scheme: dark;
}

body {
  display: grid;
  place-content: center;
  min-width: 100vh;

  /* to give the image the tilted (3d) effect when hover on the card, e.g. camera is a 1000px away from the card */
  perspective: 1000px;
}

img {
  max-width: 100%;
}

.yoda {
  width: 300px;
  aspect-ratio: 9 / 16;
  /*outline: 3px solid limegreen;*/
  /*background-image: url('https://assets.codepen.io/308367/yoda-on-dagobah.jpg');*/
  /*background-size: cover;*/
  /*background-position: -150px center;*/
  position: relative;

  transform-style: preserve-3d; /* ----- Not necessary to have for tiny better shadow effect */
  transition: rotate var(--timing) ease;
}
.yoda:hover {
  rotate: x 35deg;
}

/* This is for when the card is tilted, put a black color on all the 4 corners of the card */
.yoda::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 100;
  /*background-image: radial-gradient(circle, transparent 150px, red);*/
  background-image: radial-gradient(circle, transparent 150px, black);
  opacity: 0;
  transition: opacity var(--timing);
}
.yoda:hover::before {
  opacity: 1;
}

/* Better performance to use pseudo class for animating shadow
   This solution will not work because even though we place it behind with z-index: -1, as soon as we rotate it, it will create a new stack context will will move the ::after to the front.
*/
.yoda::after {
  content: '';
  position: absolute;

  /* The box shadow of the card*/
  inset: 80% 0.5rem 0.5rem; /* ----- Not necessary to have for tiny better shadow effect */
  transform: translateZ(
    -100px
  ); /* ----- Not necessary to have for tiny better shadow effect */
  /*background: red;*/
  background: black;
  filter: blur(1rem);
  transition: rotate var(--timing), translate var(--timing); /* ----- The rotate value is Not necessary to have for tiny better shadow effect */

  z-index: 1;
}
.yoda:hover::after {
  rotate: x -30deg; /* ----- Not necessary to have for tiny better shadow effect */
  translate: 0 60px;
}

.bg-image {
  position: absolute;
  z-index: 10;

  /* Switch background image from background-size, background-position in .yoda to object-fit, object-position here. */
  height: 100%;
  object-fit: cover;
  object-position: -150px center;
}

.logo,
.front-image {
  position: absolute;
  opacity: 0;
}
